@charset "UTF-8";

/*
#common
===============================================
- サイト全体の共通設定
- レスポンシブ対応
- 全ページ共通部品 (header, footer, sidebar, etc.)
*/

//basic
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "MS Pゴシック", "MS P Gothic", sans-serif;
  line-height: 1.6;
  min-width: $contentWidth;
  @include mq {
    width: 100%;
    min-width: auto;
  }
}

// link
a {
  color: #f00;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* responsive display */

.sp {
  display: none;
}

@media screen and (max-width: breakPoint) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}


// common layout modules -- they are used only once in each page.
.l-header {}

.l-footer {}

.l-wrapper {}

.l-main {}

.l-side {}
