@charset "UTF-8";

/*
#layout_xxx
===============================================
- サイト全体で使いまわせるレイアウトモジュール
*/


/* ###container
- サイト共通幅・中央寄せコンテナ
```
<div class="l-container ">
l-container
</div>
```
*/

.l-container {
  margin: 0 auto;
  width: $contentWidth;
  border: 1px solid #000;
  @include mq {
    width: $contentWidthSP;
  }
}


/* ##グリッドレイアウト */

%colwrap {
  display: flex;
  flex-flow: row wrap;
  margin-left: -2%;
}


/* ###l-col2
- 2カラムレイアウト
```
<ul class="l-col2">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col2 {
  @extend %colwrap;
  .col {
    width: 48%;
    margin-left: 2%;
    margin-bottom: 20px;
  }
}


/* ###l-col3
- 2カラムレイアウト
```
<ul class="l-col3">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col3 {
  @extend %colwrap;
  .col {
    margin-left: 2%;
    width: 31.3333333%;
    margin-bottom: 20px;
  }
}


/* ###l-col4
- 4カラムレイアウト
```
<ul class="l-col4">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col4 {
  @extend %colwrap;
  .col {
    margin-left: 2%;
    width: 23%;
    margin-bottom: 20px;
  }
}


/* flexbox */

.flex {
  /* display: flex; */
  display: flex;
  /* flex-direction: column; */
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: space-between;
  /* justify-content: space-around; */
  justify-content: space-around;
  /* justify-content: flex-start; */
  justify-content: flex-start;
  /* justify-content: flex-end; */
  justify-content: flex-end;
  /* order: 1 */
  order: 1;
  /* order: 2 */
  order: 2;
  /* order: 3 */
  order: 3;
  /* flex-wrap: wrap; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
  align-items: flex-start;
  /* align-items: flex-end; */
  align-items: flex-end;
  /* align-items: center; */
  align-items: center;
  /* align-items: baseline; */
  align-items: baseline;
    /* align-self: center; */
  align-self: center;
  /* flex: 1; */
  flex: 1;
  /* flex: 0 1 8.33em; */
  flex: 0 1 8.33em;
}

/* transition */

.transition {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 500ms;
}
/* transform */
  .case .case__photo img {
    transform: translateY(-50%);
  }


