@charset "UTF-8";

/*
#layout_xxx
===============================================
- サイト全体で使いまわせるレイアウトモジュール
*/


/* ###container
- サイト共通幅・中央寄せコンテナ
```
<div class="l-container ">
l-container
</div>
```
*/

.l-container {
  margin: 0 auto;
  width: $contentWidth;
  border: 1px solid #000;
  @include mq {
    width: $contentWidthSP;
  }
}
/* ##グリッドレイアウト */
%colwrap {
  display: flex;
  flex-flow: row wrap;
  margin-left: -2%;
}

/* ###l-col2
- 2カラムレイアウト
```
<ul class="l-col2">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col2 {
  @extend %colwrap;
  .col {
    width: 48%;
    margin-left: 2%;
    margin-bottom: 20px;
  }
}


/* ###l-col3
- 2カラムレイアウト
```
<ul class="l-col3">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col3 {
  @extend %colwrap;
  .col {
    margin-left: 2%;
    width: 31.3333333%;
    margin-bottom: 20px;
  }
}


/* ###l-col4
- 4カラムレイアウト
```
<ul class="l-col4">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col4 {
  @extend %colwrap;
  .col {
    margin-left: 2%;
    width: 23%;
    margin-bottom: 20px;
  }
}
