@charset "UTF-8";

/*
#layout_xxx
===============================================
- サイト全体で使いまわせるレイアウトモジュール
*/


/* ###container
- サイト共通幅・中央寄せコンテナ
```
<div class="l-container ">
l-container
</div>
```
*/

.l-container {
  margin: 0 auto;
  width: $contentWidth;
  @include mq {
    width: $contentWidthSP;
  }
}


/* ##グリッドレイアウト */

%colwrap {
  display: flex;
  flex-flow: row wrap;
  margin-left: -2%;
}


/* ###l-col2
- 2カラムレイアウト
```
<ul class="l-col2">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col2 {
  @extend %colwrap;
  .col {
    width: 48%;
    margin-left: 2%;
    margin-bottom: 20px;
  }
}


/* ###l-col3
- 2カラムレイアウト
```
<ul class="l-col3">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col3 {
  @extend %colwrap;
  .col {
    margin-left: 2%;
    width: 31.3333333%;
    margin-bottom: 20px;
  }
}


/* ###l-col4
- 4カラムレイアウト
```
<ul class="l-col4">
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
  <li class="col"><img src="http://placehold.it/350x150?text=image"></li>
</ul>
```
*/

.l-col4 {
  @extend %colwrap;
  .col {
    margin-left: 2%;
    width: 23%;
    margin-bottom: 20px;
  }
}


/* flex display
```
<div class="l-flex l-flex-l">
  <div class="l-flex__txt">
    <p>●</p>
  </div>
  <figure class="l-flex__fig"><img src="../images/flow/img02.jpg" alt=""></figure>
</div>
.l-flex {
  display: flex;
}
```
*/


/* flex display with figure and text */

.l-flex {
  display: flex;
  justify-content: space-between;
  .l-flex__fig {
    padding-left: 3.13vw;
  }
}

.l-flex-l {
  .l-flex__fig {
    padding-left: 0;
    padding-right: 3.13vw;
    order: 1;
  }
  .l-flex__txt {
    order: 2;
  }
}


/* flex display with space between attr */

.l-flex--row {
  justify-content: space-between;
}


/* flex display column display */

.l-flex--col {
  flex-direction: column;
}


/* flexbox */

.flex {
  /* display: flex; */
  display: flex;
  /* flex-direction */
  flex-direction: row;
  flex-direction: column;
  flex-direction: row-reverse;
  flex-direction: column-reverse;
  /* flex-wrap */
  flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  /* flex-flow direction,wrapをまとめて記述*/
  flex-flow: column wrap;
  /* justify-content 水平方向の揃え方 */
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;

  /* align-items 垂直方向の揃え方*/
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline;
  align-items: stretch;//Flexアイテムの高さが設定されているとき上下一杯まで広げる。設定されていない場合、コンテンツの一番多いFlexアイテムの高さに合わせて自動的に広げる。
  /* align-content 複数行になったときの揃え方*/
  align-content:flex-start;
  align-content:flex-end;
  align-content:center;
  align-content:space-between;
  align-content:fspace-around;
}
.FlexItem {
  flex-grow:1;
  flex-shrink:1;
  flex-basis:0;
  /* flex: 0 1 8.33em; */
  flex: 0 1 8.33em;
  /* align-self */
  align-self: flex-start;
  align-self: flex-end;
  align-self: center;
  align-self: baseline;
  align-self: stretch;
  /* order: 1 */
  order: 1;
  /* order: 2 */
  order: 2;
  /* order: 3 */
  order: 3;
}