@charset "UTF-8";

/*
#setting
===============================================
- キーカラーの設定
- コンテンツ幅、ブレイクポイントの設定
- mixinの設定
- キーフレームアニメーションの設定
*/

//colors
$mainColor: #5f1985;
$subColor:#E50012;
$bgColor:#000;

//content width
$breakPoint:768px;
$contentWidth:980px;
$contentWidthSP:94%;



%listMarkSq {
  &:before {
    content: '■';
  }
}

%gothic {
  font-family: "游ゴシック", "YuGothic", "ヒラギノ角ゴシック", Hiragino Sans, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

%replace {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}


@mixin fz($size) {
  font-size: $size + px;
  font-size: ($size / 10) * 1rem;
}

@mixin serif {
  font-family: "游明朝", YuMincho, serif;
  font-weight: 500;
}

@mixin sans {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@mixin bgWhiteLink {
  display: block;
  background-color: #fff;
}

@mixin linkText {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

@mixin lmSquare {
  &:before {
    content: '■';
  }
}

@mixin lmArrowB {
  &:before {
    content: '>';
  }
}

@mixin lmArrowA {
  &:after {
    content: ' >';
  }
}

@mixin adjustImg {
  position: relative;
  overflow: hidden;
  display: block;
  &:before {
    content: " ";
    display: block;
    padding-top: 66.66%;
  }
  img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    &.is-vertical {
      width: 100%;
      height: auto;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

//body class
@mixin kaori {
  .body--kaori & {
    @content
  }
}

//media query
@mixin mq {
  @media only screen and (max-width: $breakPoint) {
    @content
  }
}