@charset "UTF-8";

/*
#setting
===============================================
- キーカラーの設定
- コンテンツ幅、ブレイクポイントの設定
- mixinの設定
- キーフレームアニメーションの設定
*/

//colors
$mainColor: #5f1985;
$subColor:#E50012;
$bgColor:#000;

//content width
$breakPoint:768px;
$contentWidth:980px;
$contentWidthSP:94%;

//extend
%bgWhiteLink {
  display: block;
  background-color: #fff;
}

%linkText {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

%listMarkSq {
  &:before {
    content: '■';
  }
}

%gothic {
  font-family: "游ゴシック", "YuGothic", "ヒラギノ角ゴシック", Hiragino Sans, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

%replace {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

//mixin

/*
  @include mq {

  } */

//media query
@mixin mq {
  @media only screen and (max-width: $breakPoint) {
    @content
  }
}

//body class
@mixin kaori {
  .body--kaori & {
    @content
  }
}

@mixin fz($size) {
  font-size: $size + px;
  font-size: ($size / 10) * 1rem;
}